<a href="https://colab.research.google.com/github/Leonardo1133/Video-Games-Sales-prediction-with-Linear-Regression/blob/master/GamesSales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [0]:
## fuente del dataset 'https://www.kaggle.com/gregorut/videogamesales/download'
df = pd.read_csv("vgsales.csv")

In [11]:
df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

Selecci√≥n de Features para predecir una venta determinada

In [12]:
df = df.loc[:, ['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']]
df.head()

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

Separamos Features y Target

In [0]:
X = df.loc[:, ['NA_Sales','EU_Sales','JP_Sales','Global_Sales']]
y = df.Other_Sales

Separamos los datos para train y test

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Construccion del modelo de Regresion Lineal

In [0]:
lr = linear_model.LinearRegression()

Entrenamiento

In [16]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Predicciones

In [0]:
Y_pred = lr.predict(X_test)

Precisi√≥n del modelo

In [18]:
print('Precisi√≥n del modelo:')
print(lr.score(X_train, y_train))

Precisi√≥n del modelo:
0.9993174183439555