<a href="https://colab.research.google.com/github/Leonardo1133/VideoGamesSales/blob/master/games.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [0]:
df = pd.read_csv("vgsales.csv")

In [20]:
df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [23]:
X = df.loc[:, ['Global_Sales','NA_Sales','JP_Sales','Other_Sales']]
y = df.EU_Sales

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

lr = linear_model.LinearRegression()
lr.fit(X_train, y_train)

Y_pred = lr.predict(X_test)

print('Precisión del modelo:')
print(lr.score(X_train, y_train))

Precisión del modelo:
0.9998941390333609